.recipeListContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .recipeListTitle {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .recipeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .recipeItem {
    background-color: #D0BFFF;
    border: 1px solid #beadfa;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(113, 108, 108);
  }
  
  .recipeItem a {
    text-decoration: none;
    color: black;
  }
  .recipeImage {
   width: 230px;
    height: 150px;
  }
  
  .recipeTitle {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .recipeDescription {
    font-size: 1rem;
  }
  
  .loadMoreButton {
    text-align: center;
    margin-top: 20px;
  }
  
  .button {
    background-color: #3a5ce0;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
       box-shadow: 5px 5px 5px rgb(113, 108, 108);
  }
  