/* main-navigation.module.css */
.main-nav {
    background-color: #333;
    color: white;
  }
  
  .home-button a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.3rem;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    width: 150px;
  }
  
  .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
  }
  
  .sorting-options {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .sorting-select {
    padding: 0.3rem;
    border: 1px solid #007bff;
    border-radius: 3px;
    background-color: white;
    color: #007bff;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .nav-links li {
    font-size: 1rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
images {
    height: 150px;
    width: 150px;
}